
<div class="col-md-2"></div>
<div class="col-md-8 text-center">
    <h1 class="">Mantenimiendo de biblioteca</h1>
    <br>
    <a class="btn btn-primary" href="/list-libros">Mantenimientos de libros</a>
    <a class="btn btn-primary" href="/list-autores">Mantenimientos de autores</a>
    <a class="btn btn-primary" href="/list-editoriales">Mantenimientos de editoriales </a>
</div>
<div class="col-md-2"></div>